{% include '@parser-view/assoc/header.twig' %}

<style>
    .select2-container--krajee .select2-results > .select2-results__options {
        max-height: 430px;
        overflow-y: auto;
    }
</style>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">{{ sectionName }} (всего: {{ sourceTotal }})</h3>
        <div>
            realHardwareTypeId: {{ realHardwareTypeId }} (source: {{ sourceHardwareTypeId }})
            realHardwareSeriesId: {{ realHardwareSeriesId }} (source: {{ sourceHardwareSeriesId }})
        </div>
    </div>


    <div class="box-body">
        <form method="post">
            {{ html.hiddenInput(app.getRequest().csrfParam, app.getRequest().getCsrfToken()) | raw }}

            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th style="width: 10px">Id</th>
                        <th>Наименование</th>
                        <th>Привязка</th>
                        <th class="text-center">&nbsp;</th>
                        <th class="text-center">Отвязать</th>
                        <th class="text-center">Добавить</th>
                    </tr>

                    {% for item in sourceData %}
                        {% set itemId = item.id %}
                        {% set selectName = 'sourceItems[' ~ itemId ~ ']' %}

                        {% set selectedValue = null %}
                        {% if sourceSelectedData[itemId] is defined %}
                            {% set selectedValue = sourceSelectedData[itemId] %}
                        {% endif %}

                        {% set selectData = assocData[itemId] %}

                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ itemId }}</td>
                            <td>{{ item.name }}</td>
                            <td>
                                {{ select2.widget({
                                    'name' : selectName,
                                    'value' : selectedValue,
                                    'size' : select2.MEDIUM,
                                    'data' : selectData,
                                    'options' : {'placeholder' : 'выберите ассоциацию'}
                                }) | raw }}
                            </td>
                            <td class="text-center">
                                {% if selectedValue %}
                                    <a href="/hardwares/update?id={{ selectedValue }}" target="_blank">{{ selectedValue }}</a>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if selectedValue %}
                                    <input type="checkbox" name="reset[{{ itemId }}]" value="{{ selectedValue }}">
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <input type="checkbox" name="new[]" value="{{ itemId }}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <input type="submit" value="сохранить ассоциацию">
        </form>
    </div>


    {% include "@parser-view/components/pager.twig" %}
</div>

