{% include '@parser-view/assoc/header.twig' %}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">{{ sectionName }}</h3>
    </div>

    <div class="box-body">
        <form method="post">
            {{ html.hiddenInput(app.getRequest().csrfParam, app.getRequest().getCsrfToken()) | raw }}

            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th style="width: 10px">Id</th>
                    <th>Наименование</th>
                    <th>Привязка</th>
                </tr>

                {% for item in sourceItems %}
                    {% set selectName = 'assocHardwareType[' ~ item.id ~ ']' %}

                    {% set selectedId = null %}
                    {% set selectedBg = '' %}
                    {% if sourceSelectedData[item.id] is defined %}
                        {% set selectedId = sourceSelectedData[item.id] %}
                        {% set selectedBg %}style="background-color: #F8F8FF"{% endset %}
                    {% endif %}

                    <tr {{ selectedBg }}>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>
                            {{ html.dropDownList(selectName, selectedId, realHardwareTypeData, {'prompt':'выберите ассоциацию'}) | raw }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <input type="submit" value="сохранить ассоциацию">
        </form>
    </div>
</div>


