{#
@require: sectionNick
#}

<h2>Ассоциатор {{ this.params.companyName }}</h2>


<ul class="nav nav-pills">
    {% for menuItem in this.params.assocMenu %}
        {% set isActive = '' %}
        {% if menuItem.nick == app.controller.action.id %}
            {% set isActive = ' class="active"' %}
        {% endif %}

        <li {{ isActive | raw }}>
            <a href="{{ path(menuItem.nick) }}">
                {{ menuItem.name }}
            </a>
        </li>
    {% endfor %}
</ul>


{% if app.getSession().getFlash('saveSuccess') %}
    <p>
        {{ alert.widget({
            'options' : {
                'class' : 'alert-info',
            },
            'body' : app.getSession().getFlash('saveSuccess')}) | raw }}
    </p>
{% endif %}

{% if app.getSession().getFlash('saveErrors') %}
    <p>
        {{ alert.widget({
            'options' : {
                'class' : 'alert-danger',
            },
            'body' : app.getSession().getFlash('saveErrors')}) | raw }}
    </p>
{% endif %}

