{% include '@parser-view/assoc/header.twig' %}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">{{ sectionName }}</h3>
    </div>

    <div class="box-body">
        <form method="post">
            {{ html.hiddenInput(app.getRequest().csrfParam, app.getRequest().getCsrfToken()) | raw }}

            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th style="width: 10px">Id</th>
                        <th>Наименование</th>
                        <th>Операционная система</th>
                        <th>Разрядность ОС</th>
                    </tr>

                    {% for item in sourceItems %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>
                                {% set selectName = 'assocOperationSystem[' ~ item.id ~ ']' %}
                                {% set selectedId = null %}
                                {% if operationSystemSelectedData[item.id] is defined %}
                                    {% set selectedId = operationSystemSelectedData[item.id] %}
                                {% endif %}

                                {{ html.dropDownList(selectName, selectedId, realOperationSystemData, {'prompt':'выберите ассоциацию'}) | raw }}
                            </td>
                            <td>
                                {% set selectName = 'assocOperationSystemBit[' ~ item.id ~ ']' %}
                                {% set selectedId = null %}
                                {% if operationSystemBitSelectedData[item.id] is defined %}
                                    {% set selectedId = operationSystemBitSelectedData[item.id] %}
                                {% endif %}

                                {{ html.dropDownList(selectName, selectedId, realOperationSystemBitData, {'prompt':'выберите ассоциацию'}) | raw }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <input type="submit" value="сохранить ассоциацию">
        </form>
    </div>
</div>

