{% include '@parser-view/assoc/header.twig' %}

<style>
    .select2-container--default .select2-results > .select2-results__options {
        max-height: 430px;
        overflow-y: auto;
    }

    .assoc-js {
        cursor: pointer;
        text-decoration: underline;
        color: #3c8dbc;
    }
</style>


<div id="box" class="box" data-company-id="{{ companyId }}">
    <div class="box-header with-border">
        <h3 class="box-title">{{ sectionName }}</h3>
    </div>

    <div class="box-body">
        {{ content | raw }}
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        let realCompanyId = $('#box').attr('data-company-id');

        // User space
        const Util = {
            sprintf(format) {
                for (let i = 1; i < arguments.length; i++) {
                    format = format.replace(/%s/, arguments[i]);
                }
                return format;
            }
        };


        const dataSource = {
            _cached: [],
            getHardwareSeries(realCompanyId, realHardwareTypeId) {
                let self = this;

                let dfd = $.Deferred();
                if (!_.isEmpty(self._cached[realHardwareTypeId])) {
                    // closure(self._cached[realHardwareTypeId]);
                    dfd.resolve(self._cached[realHardwareTypeId]);
                    return dfd.promise();
                }

                let queryUrl = Util.sprintf(
                    '/parser-skeleton/api/series?realCompanyId=%s&realHardwareTypeId=%s',
                    realCompanyId,
                    realHardwareTypeId,
                );

                console.log(queryUrl);
                axios.get(queryUrl)
                    .then(function (response) {
                        let responseData = response.data;
                        // console.log(responseData.data.items);
                        self._cached[realHardwareTypeId] = responseData.data.items;
                        // closure(self._cached[realHardwareTypeId]);
                        dfd.resolve(self._cached[realHardwareTypeId]);
                    })
                    .catch(function (error) {
                        console.log('Error! Could not reach the API. ' + error);
                    });

                return dfd.promise();
            },
            clearHardwareSeries(realCompanyId, realHardwareTypeId) {
                this._cached[realHardwareTypeId] = [];
            },
        };


        function saveAssoc(container, containerControl, params, realHardwareSeriesId, realHardwareSeriesName, action = 'save') {
            params.realHardwareSeriesId = realHardwareSeriesId;
            params.action = action;

            let urlParams = new URLSearchParams();
            for (let property in params) {
                if (params.hasOwnProperty(property)) {
                    urlParams.append(property, params[property]);
                }
            }

            let url = '/parser-skeleton/api/series-save';
            console.log('save assoc with params: ' + url + '?' + urlParams.toString());
            axios.post(url, urlParams)
                .then(function (response) {
                    containerControl.innerHTML = '';

                    let responseData = response.data;
                    // console.log(responseData);

                    if (responseData.result === "success") {
                        let realHardwareSeriesId = responseData.data.realHardwareSeriesId;
                        let realHardwareSeriesName = responseData.data.realHardwareSeriesName;

                        container.innerHTML = Util.sprintf('%s (%s)', realHardwareSeriesName, realHardwareSeriesId);
                        container.setAttribute('data-real-hardware-series-id', realHardwareSeriesId);
                    } else {
                        container.innerHTML = 'Error occupied. Watch to console.';
                    }
                })
                .catch(function (error) {
                    console.log(error);
                    container.innerHTML = 'Error occupied. Watch to console.';
                    // notify.error('Error occupied. Watch to console.');
                });

        }


        function createSelect(container, items, realHardwareSeriesId, params) {
            let realCompanyId = params.companyId;
            let realHardwareTypeId = params.hardwareTypeId;

            container.innerHTML = '';
            let containerControl = container.nextElementSibling;
            containerControl.innerHTML = '';

            let select = document.createElement('select');
            let option;

            option = document.createElement('option');
            option.value = 0;
            option.textContent = 'Без связи';
            select.appendChild(option);

            items.forEach(function (item) {
                option = document.createElement('option');
                option.value = item.id;
                option.textContent = item.name;
                option.selected = (+realHardwareSeriesId === +item.id);
                select.appendChild(option);
            });


            let buttonSave = document.createElement('button');
            buttonSave.innerHTML = 'save';
            buttonSave.className = 'btn btn-primary';
            buttonSave.style.marginLeft = "5px";
            $(buttonSave).on('click', function (e) {
                // console.log('clicked save with value: ' + select.options[select.selectedIndex].value);
                containerControl.innerHTML = 'Saving..';
                let realHardwareSeriesId = select.options[select.selectedIndex].value;
                let realHardwareSeriesName = select.options[select.selectedIndex].textContent;
                saveAssoc(container, containerControl, params, realHardwareSeriesId, realHardwareSeriesName);
                e.preventDefault();
            });


            let buttonCreate = document.createElement('button');
            buttonCreate.innerHTML = 'create';
            buttonCreate.className = 'btn btn-success';
            buttonCreate.style.marginLeft = "5px";
            $(buttonCreate).on('click', function (e) {
                // console.log('clicked save with value: ' + select.options[select.selectedIndex].value);
                containerControl.innerHTML = 'Saving..';
                let realHardwareSeriesId = select.options[select.selectedIndex].value;
                let realHardwareSeriesName = select.options[select.selectedIndex].textContent;
                dataSource.clearHardwareSeries(realCompanyId, realHardwareTypeId);
                saveAssoc(container, containerControl, params, realHardwareSeriesId, realHardwareSeriesName, 'create');
                e.preventDefault();
            });


            containerControl.appendChild(select);
            containerControl.appendChild(buttonSave);
            containerControl.appendChild(buttonCreate);
            $(select).select2({width: '240px'});
        }


        $('.assoc-js').on('click', function () {
            this.innerHTML = 'Loading..';

            let self = this;
            let $this = $(this);
            let realHardwareTypeId = $this.attr('data-hardware-type-id');
            let realHardwareSeriesId = $this.attr('data-real-hardware-series-id');
            let sourceId = $this.attr('data-source-id');
            // console.log('click: ' + hardwareTypeId);

            let promise = dataSource.getHardwareSeries(realCompanyId, realHardwareTypeId);
            promise.then(function (selectItems) {
                // console.log(selectItems);
                createSelect(self, selectItems, realHardwareSeriesId, {
                    companyId: realCompanyId,
                    hardwareTypeId: realHardwareTypeId,
                    sourceId: sourceId,
                });
            }).catch(function (error) {
                console.log('Error! Could not reach the API. ' + error);
            });


            return false;
        });
    });
</script>

