<div class="pagination-wrapper">
    <ul class="pagination">
        {% if pager.hasPrevious() %}
            <li class="is-arrow">
                <a href="{{ pager.getUrl() }}{{ pager.getPrevious() }}">
                    <span>{{ t('app-pager', 'Previous') }}</span>
                </a>
            </li>
        {% else %}
            <li class="paginator-prev">
                <span title="{{ t('app-pager', 'previous page') }}" class="disabled is-arrow">{{ t('app-pager', 'Previous') }}</span>
            </li>
        {% endif %}

        {% for page in range(pager.getPagesWindowFrom(), pager.getPagesWindowTo()) %}
            {% if page == pager.getPage() %}
                <li class="is-active"><a class="active">{{ page }}</a></li>
            {% else %}
                <li>
                    <a href="{{ pager.getUrl() }}{{ page }}" class="pageNumLink" id="{{ page }}page">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <li>&nbsp;&nbsp;{{ t('app-pager', 'from') }}
            &nbsp;&nbsp;<strong>{{ pager.getPages() }}</strong></li>

        {% if pager.hasNext() %}
            <li class="is-arrow">
                <a href="{{ pager.getUrl() }}{{ pager.getNext() }}" rel="next">
                    <span>{{ t('app-pager', 'Next') }}</span>
                </a>
            </li>
        {% else %}
            <li class="paginator-next">
                <span title="{{ t('app-pager', 'next page') }}" class="disabled is-arrow">{{ t('app-pager', 'Next') }}</span>
            </li>
        {% endif %}

    </ul>
</div>

